
/*
* Importando o CSS do framework Materialize
*/
@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
:root{
  --primary-color: #473080;
}
body {
  margin: 0;
}
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(223, 221, 235) 0%, rgb(58, 18, 119) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}
.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}
#player {
  background-color: whitesmoke;
  width: 90%;
  max-width: 375px;
  position: absolute;
  top: 20%;  margin-top: -25px;
  left: 45%;
  margin-left: -100px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
              0px 3px 1px -2px rgba(0, 0, 0, 0.12),
              0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.card {
  box-shadow: none;
  margin: 0;
}
h4 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.card-image {
  background: url("https://placehold.it/500") no-repeat center center / cover;
  height: 200px;
}
audio {
  width: 100%;
  margin-top: 30px;
}
#play-pause{
  background-color: var(--primary-color);
}
#vol{
  color: var(--primary-color);
  transform: translateY(2px);
}
input[type="range"]::-webkit-slider-thumb{
  background-color: var(--primary-color);
}
input[type="range"]::-moz-range-thumb{
  background-color: var(--primary-color);
}
input[type="range"]::-ms-thumb{
  background-color: var(--primary-color);
}